<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232028222313-brttp0aa9abnur7cd0lijq1onesqpg4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232028222313-brttp0aa9abnur7cd0lijq1onesqpg4h</string>
	<key>API_KEY</key>
	<string>AIzaSyDV_quZiKclYbJHM4z0lyogLp_LPjQUlHo</string>
	<key>GCM_SENDER_ID</key>
	<string>232028222313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johnpill.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-d9c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-d9c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232028222313:ios:941ac265ec614b62d2c3f8</string>
</dict>
</plist>